
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.cube {
    width: 100px;
    height: 100px;
    border: 1px saddlebrown;
}

.static {
background-color: aquamarine;
position: static;
}
.relative {
background-color: bisque;
position: relative;
}
.absolute{
    background-color: blueviolet;
position: absolute;
z-index: 2;
}
.fixed {
    position: fixed;
    background-color: brown
    
};