@import 'reset';

body {
    background: #363434;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-content {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        border-radius: 20px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

    }



    .menu {
        list-style-type: none;
        display: flex;

        li {
            font-size: 15px;
            margin-right: 40px;
            font-weight: 800;
            text-align: center;

            :first-child {
                margin-left: 0;
            }

            :hover {
                color: #d66767;
            }

        }

        .en {
            font-size: 14px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-transform: uppercase;
        }
    }

}

.join-form {
    min-height: 100vh;
    color: #fff;
    background: #000;
    background-image: url(../image3/banner.jpeg);
    background-size: cover;

    .join-form-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100vh;
    }
}